/* Estilos para el encabezado y la navegación */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición de color al pasar el mouse */
  }
  
  nav ul li:hover {
    text-decoration: underline;
    color: #ffcc00; /* Cambio de color al pasar el mouse */
  }
  
  /* Estilos para las secciones */
  section {
    margin: 50px 0;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  /* Estilos específicos para la sección "Sobre Mi" */
  #sobre-mi {
    background-color: #f4f4f4;
  }


  
  /* ESTILOS HABILIDADES */
#habilidades {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  #habilidades h2 {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Bungee', cursive;
    animation: fadeIn 1s ease-in-out;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
  }
  
  .skill-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-item:hover {
    transform: translateY(-5px);
  }
  
  .skill-preview {
    padding: 15px;
    cursor: pointer;
    background-color: #92BB82;
  }
  
  .skill-preview h3 {
    margin: 0;
    color: #333;
  }
  
  .skill-details {
    display: none;
    padding: 15px;
    background-color: #FAF6F1;
    border-top: 1px solid #ccc;
  }
  
  .skill-details p {
    margin-bottom: 10px;
  }
  
  .sub-skills {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: square;
  }
  

  
/* ESTILOS PROYECTOS*/

#proyectos {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Bungee', cursive;
    animation: fadeIn 1s ease-in-out;
  }
  
  
  /* Estilos para los elementos individuales de los proyectos */
  .project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 5px;
    font-style: italic;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  /* Styling for the project list */
.project-list {
    list-style: none;
    padding: 0;
  }
  
  .project-item {
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  
  .project-preview {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
  }
  
  .project-preview:hover {
    background-color: #F0FFBB;
  }
  
  .project-details {
    display: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .project-item.open {
    height: auto;
  }
  
  .project-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .project-button:hover {
    background-color: #0056b3;
  }
  
  
  
  /* ESTILOS CONTACTOS */
  #contacto {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;
  }

  /* CSS for the animated heading */
.animated-heading {
    font-family: 'Bungee', cursive;
    animation: fadeIn 1s ease-in-out;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  /* Animation keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact-item {
    width: 250px;
    text-align: center;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .contact-item:hover {
    transform: translateY(-5px);
  }
  
  /* Estilos específicos para los elementos de contacto */
  .phone {
    background-color: #F46036;
    color: #fff;
  }
  
  .phone h3 {
    font-size: 20px;
    margin-bottom: 5px;

  }
  
  .email {
    background-color: #00703C;
    color: #fff;
  }
  
  .email h3 {
    font-size: 20px;
    margin-bottom: 5px;

  }

  .contact-item {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-item:hover {
    transform: scale(1.05);
  }
  


  
  
  