@{
    ViewData["Title"] = "Página de Artistas";
}

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet">

<div class="hero-section">
    <h1 class="display-4">Explora el Mundo de la Música</h1>
    <p>Descubre más sobre música <a href="https://open.spotify.com/playlist/2bR0iElRRZmDOuFfpARLGw?si=8a2320876e854a67" class="spotify-link" target="_blank">en nuestra playlist de Spotify</a>.</p>
</div>
