@{
    ViewData["Title"] = "Artistas y Listas de Reproducción";
}

<link href="~/css/site.css" rel="stylesheet">

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Artistas Trending</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Feid</td>
        </tr>
        <tr>
            <td>Bad Bunny</td>
        </tr>
        <tr>
            <td>Bad Bunny</td>
        </tr>
        <tr>
            <td>Dua Lipa</td>
        </tr>
        <tr>
            <td>Myke Towers</td>
        </tr>
        <tr>
            <td>Rolling Stones</td>
        </tr>
        <tr>
            <td>Grimes</td>
        </tr>
        <tr>
            <td>Karol G</td>
        </tr>
        <tr>
            <td>Lana del Rey</td>
        </tr>
        <tr>
            <td>Mora</td>
        </tr>
        <tr>
            <td>Rels B</td>
        </tr>
        
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Listas de Reproducción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Reggaeton:</strong> Código: RG128</td>
        </tr>
        <tr>
            <td><strong>Pop:</strong> Código: PP349</td>
        </tr>
        <tr>
            <td><strong>Rock:</strong> Código: RK503</td>
        </tr>
        <tr>
            <td><strong>Top 50:</strong> Código: Top50</td>
        </tr>
        <tr>
            <td><strong>Top 20:</strong> Código: Top20</td>
        </tr>
        <tr>
            <td><strong>Top 100:</strong> Código: To100</td>
        </tr>
    </tbody>
</table>
