@{
    ViewData["Title"] = "Página de Artistas";
}

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet">

<div class="hero-section">
    <h1 class="display-4">Explora el Mundo de la Música</h1>
    <p>Descubre más sobre música <a href="https://open.spotify.com/playlist/0cCCUTso4jfPlOXiyDy2PF?si=de51dc58364f4a32" class="spotify-link" target="_blank">en nuestra playlist de Spotify</a>.</p>
</div>

<!-- Espacio centrado para mostrar el reproductor de Spotify -->
<div class="centered-container">
    <iframe src="https://open.spotify.com/embed/playlist/0cCCUTso4jfPlOXiyDy2PF?si=de51dc58364f4a32" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>